Cartfile.resolved
Carthage/
DerivedData/
T-Shifts.xcodeproj/xcuserdata/esposito.xcuserdatad/xcdebugger/
T-Shifts.xcodeproj/project.xcworkspace/xcuserdata/
T-Shifts.xcworkspace/xcuserdata/esposito.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
