<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShiftTemplates</key>
	<array>
		<dict>
			<key>shortcut</key>
			<string>M</string>
			<key>description</key>
			<string>Mattino</string>
			<key>position</key>
			<integer>0</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>98</integer>
				<key>blue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>P</string>
			<key>description</key>
			<string>Pomeriggio</string>
			<key>position</key>
			<integer>1</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>159</integer>
				<key>blue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>N</string>
			<key>description</key>
			<string>Notte</string>
			<key>position</key>
			<integer>2</integer>
			<key>oldColor</key>
			<integer>16765058</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>208</integer>
				<key>blue</key>
				<integer>130</integer>
			</dict>
		</dict>
		<dict>
			<key>New item</key>
			<dict>
				<key>shortcut</key>
				<string>r</string>
				<key>description</key>
				<string>Reperibilità</string>
				<key>position</key>
				<integer>4</integer>
				<key>color</key>
				<integer>0</integer>
			</dict>
			<key>shortcut</key>
			<string>R</string>
			<key>description</key>
			<string>Riposo</string>
			<key>position</key>
			<integer>3</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>58</integer>
				<key>green</key>
				<integer>157</integer>
				<key>blue</key>
				<integer>48</integer>
			</dict>
		</dict>
		<dict>
			<key>shortcut</key>
			<string>r</string>
			<key>description</key>
			<string>Reperibilità</string>
			<key>position</key>
			<integer>4</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>91</integer>
				<key>green</key>
				<integer>184</integer>
				<key>blue</key>
				<integer>81</integer>
			</dict>
		</dict>
		<dict>
			<key>shortcut</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>position</key>
			<integer>5</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>138</integer>
				<key>green</key>
				<integer>214</integer>
				<key>blue</key>
				<integer>130</integer>
			</dict>
		</dict>
		<dict>
			<key>shortcut</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>position</key>
			<integer>6</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>54</integer>
				<key>green</key>
				<integer>114</integer>
				<key>blue</key>
				<integer>160</integer>
			</dict>
		</dict>
		<dict>
			<key>shortcut</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>position</key>
			<integer>7</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>85</integer>
				<key>green</key>
				<integer>140</integer>
				<key>blue</key>
				<integer>183</integer>
			</dict>
		</dict>
		<dict>
			<key>shortcut</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>position</key>
			<integer>8</integer>
			<key>color</key>
			<dict>
				<key>red</key>
				<integer>131</integer>
				<key>green</key>
				<integer>176</integer>
				<key>blue</key>
				<integer>211</integer>
			</dict>
		</dict>
	</array>
	<key>Calendar</key>
	<string>None</string>
</dict>
</plist>
