<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShiftNamesOrder</key>
	<array>
		<string>M</string>
		<string>P</string>
		<string>N</string>
		<string>R</string>
	</array>
	<key>Calendar</key>
	<string>Turni</string>
	<key>ShiftNames</key>
	<dict>
		<key>M</key>
		<string>Mattino</string>
		<key>P</key>
		<string>Pomeriggio</string>
		<key>N</key>
		<string>Notte</string>
		<key>R</key>
		<string>Riposo</string>
	</dict>
</dict>
</plist>
